body {
  background-color: linen;
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  padding-bottom: 4rem;
}

.App {
  text-align: center;
}

/* Chuck was too big for his own good */
.img__small {
  width: 200px;
}

ul {
  text-align: left;
  margin: 0 120px 40px;
  list-style-type: none;
}
